{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["*.js*"],
      "rules": {
        "react/jsx-props-no-spreading": "off",
        "react/static-property-placement": "off",
        "react/state-in-constructor": "off",
        "react/jsx-curly-newline": "off",
      }
    }
  ],
  "extends": "airbnb"
}